#### Importing Dependencies

In [1]:
import pandas as pd
import numpy as np

##### Reading csv file from its path

In [2]:
file = "CPI_DATA/Corruption_2019.csv"
cpi_df = pd.read_csv(file)
cpi_df.head()

,Corruption Perceptions Index 2019: Global Scores,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Country,ISO3,Region,CPI score 2019,Rank,standard error,Number of sources,Lower CI,Upper CI,African Development Bank CPIA,...,Economist Intelligence Unit Country Ratings,Freedom House Nations in Transit Ratings,Global Insight Country Risk Ratings,IMD World Competitiveness Yearbook,PERC Asia Risk Guide,PRS International Country Risk Guide,Varieties of Democracy Project,World Bank CPIA,World Economic Forum EOS,World Justice Project Rule of Law Index
2,Denmark,DNK,WE/EU,87,1,2.54,8,82.83,91.17,NaN,...,90,NaN,83,94,NaN,93,77,NaN,79,86
3,New Zealand,NZL,AP,87,1,2.29,8,83.25,90.75,NaN,...,90,NaN,83,83,NaN,93,77,NaN,89,82
4,Finland,FIN,WE/EU,86,3,2.92,8,81.20,90.80,NaN,...,72,NaN,83,94,NaN,93,75,NaN,93,87

#### Showing columns to rename and select the desired ones

In [3]:
cpi_df.columns

Index(['Corruption Perceptions Index 2019: Global Scores ', 'Unnamed: 1',
       'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21'],
      dtype='object')

#### Renaming desired columns

In [4]:
cpi_df.rename(columns = {"Corruption Perceptions Index 2019: Global Scores " : "Country",
                         "Unnamed: 1" : "Country Code",
                         "Unnamed: 3" : "CPI", 
                         "Unnamed: 4" : "Rank"
}, inplace = True)

cpi_df.head()

,Country,Country Code,Unnamed: 2,CPI,Rank,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Country,ISO3,Region,CPI score 2019,Rank,standard error,Number of sources,Lower CI,Upper CI,African Development Bank CPIA,...,Economist Intelligence Unit Country Ratings,Freedom House Nations in Transit Ratings,Global Insight Country Risk Ratings,IMD World Competitiveness Yearbook,PERC Asia Risk Guide,PRS International Country Risk Guide,Varieties of Democracy Project,World Bank CPIA,World Economic Forum EOS,World Justice Project Rule of Law Index
2,Denmark,DNK,WE/EU,87,1,2.54,8,82.83,91.17,NaN,...,90,NaN,83,94,NaN,93,77,NaN,79,86
3,New Zealand,NZL,AP,87,1,2.29,8,83.25,90.75,NaN,...,90,NaN,83,83,NaN,93,77,NaN,89,82
4,Finland,FIN,WE/EU,86,3,2.92,8,81.20,90.80,NaN,...,72,NaN,83,94,NaN,93,75,NaN,93,87

#### Selecting only desired columns from the main df

In [5]:
clean_df = cpi_df[["Country", "Country Code", "CPI", "Rank"]]

#### Droping the top 2 rows

In [6]:
clean_df = clean_df.iloc[2:]
clean_df.head()

       Country Country Code CPI Rank
2      Denmark          DNK  87    1
3  New Zealand          NZL  87    1
4      Finland          FIN  86    3
5    Singapore          SGP  85    4
6       Sweden          SWE  85    4

#### Resetting indeces

In [7]:
final_df = clean_df.reset_index(drop=True)
final_df.head()

       Country Country Code CPI Rank
0      Denmark          DNK  87    1
1  New Zealand          NZL  87    1
2      Finland          FIN  86    3
3    Singapore          SGP  85    4
4       Sweden          SWE  85    4

#### Writting a CSV file with the final data

In [8]:
final_df.to_csv('CPI_DATA/CPI_final_data.csv')